// Variable overrides first
$primary: #7d0204;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";


//adding custom css
body {
    margin: auto;
    background-color: white;
    overflow: overlay;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

header .navbar {
    background-image: linear-gradient(180deg, #fcc3a3, #fbae66) !important;
    color: #fff;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header {
    background-color: white;
    color: #fff;
    position: sticky;
    z-index: 999;
    top: -10px;
    box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
    //box-shadow: 20px 20px 50px 10px orange inset;
}


.navbar-toggler {
    border: none;
    outline: none;
}


div {
    margin: 0;
    padding: 0;
}

/*nav {
    display: flex;
    justify-content: space-around;
    min-width: 0px;
    list-style: none;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    min-width: 0px;
    list-style: none;
}
*/
a {
    text-decoration: none;
    color: #fff;
}

section {

    padding: 20px;
    padding-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

// footer {
//     position: static;
//     background-color: #7d0204;
//     padding: 20px;
//     font-family: 'Roboto', sans-serif;
//     font-weight: bold;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     bottom: 0;
// }

// footer>p {
//     margin: 10px 10px;
//     color: white;
// }

.aboutus {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 350;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.c-item {
    height: 650px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    object-position: 25% 25%;
    filter: brightness(0.6);
}

.img-1 {
    transform: scale(1.3) translate(10%, 0)
}

.img-2 {
    object-position: 40% 60%;
}

.img-3 {
    object-position: 25% 50%;
}

.img-4 {
    object-position: 50% 50%;
}

.img-5 {
    object-position: 50% 95%;
}

#hero-carousel {}

.caption {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 16rem;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    width: 100%;
}

.btn.ap1 {
    border-radius: 25px;
    border: none;
    background-image: linear-gradient(45deg, #7d0204, #d23e0e);
    margin-left: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bolder;
    transition: 0.5s ease;
}

.btn.ap1:hover {
    transform: scale(1.05);
}

.img {
    color: #7d0204;
    margin-left: 0;
}

.about {
    //background-image: linear-gradient(180deg, #fcc3a3, #fbae66);
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: justify;
}

.services {
    //background-color: #fcc3a3;
    //background-image: linear-gradient(180deg, #fbae66, #fcc3a3);
}

.services>* .card {
    border: none;
    box-shadow: 1px 1px 50px #fcc4a382;
    margin: 12px;
    padding: 12px;
    min-height: 15rem;
    transition: all 0.3s;
}

.services>* .card:hover {
    transform: scale(1.05);
    //background-color: #7d0204;
    color: white;
}

.services>* .card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #7d0204, #d23e0e);
    border-radius: var(--mo-card-border-radius);
    z-index: -1;
    transition: transform 0.3s;
    transform-origin: 0 0;
    transition-timing-function: ease;
}

.services>* .card::before {
    transform: scaleX(0);
}

.services>* .card:hover::before {
    transform: scaleX(1);
}

.services>* .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.tooth {
    background-color: #7d0204;
    color: #fcc3a3;
    border-radius: 50%;
    padding: 10px;
    margin: 1.2rem;
    transform: scale(1.4);
    transition: all 0.2s;
}

.tooth1 {
    background-color: #fcc3a3;
    color: #7d0204;
}

.map {

    border: 10px solid #7d0204;
    border-radius: 1rem;
    box-shadow: grey 1px 1px 10px;
}

.doctor {
    font-weight: bolder;
}

#whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: 0.3s ease;
}

#whatsapp-icon img {
    width: 50px;
    /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}

#whatsapp-icon:hover {
    transform: scale(1.1);
}

#phone-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    transition: 0.3s ease;
    display: none;
    /* Adjust the size as needed */
}

#phone-icon:hover {
    transform: scale(1.1);
}

.icons {
    display: flex;
    flex-direction: column;
}

// nav item needs more spacee between them
.nav-item {
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

//blockquote element to be cenetred
blockquote {
    text-align: center;
}


// CAROUSEL USING OWL
// DELETED ..


.swiper {
    min-height: 480px;
    max-height: 500px;

    padding: 2rem;
}

.swiper .res-slide {
    min-width: 400px;
    min-height: 350px;
    border: 2px solid hsl(210, 100%, 50%);
    border-radius: 20px;
    box-shadow: 10px 10px 10px#1877f2;
}



.swiper-button-next,
.swiper-button-prev {
    color: #7d0204;
    font-size: 2rem;
    position: absolute;
    background-color: white;
    top: unset !important;
    bottom: 10px;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px;
}

.swiper-pagination {
    bottom: 0px;
    padding-bottom: 75px;
}

.swiper-button-prev {
    left: calc(50% - 50px);
}

.swiper-button-next {
    right: calc(50% - 50px);
}


.doc-img {
    border-radius: 50%;
    height: auto;
    width: 150px;
    margin-bottom: 20px;
}

.swiper>* .card {
    border: none;
    box-shadow: 1px 1px 20px rgba(252, 196, 163, 0.3);
    margin: 10px;
    padding: 12px;
    min-height: 20rem;
    transition: all 0.3s;
}

.swiper>* .card:hover {
    transform: translateY(-10px)
}

.swiper>* .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.swiper>* .card-title {
    font-size: 1rem;
    font-weight: bolder;
}

//CAROUSEL ENDS HERE

/* Footer Styles */
footer {
    color: beige;
    background-color: #7d0204;
    background-image: linear-gradient(45deg, #7d0204, #d23e0e);
    padding: 30px 0;
    bottom: 0px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.footer-logo img {
    max-width: 150px;
    height: auto;
}

.footer-contact,
.footer-links {
    flex: 1;
    text-align: center;
    padding: 0 20px;

}

.footer-contact h3,
.footer-links h3,
.footer-social h3 {
    //centered content
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-contact p {
    font-weight: 500;
    margin: 5px 0;
}

.footer-links p {
    font-weight: 500;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    text-decoration: none;
    color: beige;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #33b5e5;
}

.footer-social ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-social li {
    display: inline-block;
    margin-left: 15px;
}

.footer-social a {
    text-decoration: none;
    color: beige;
    font-size: 24px;
}

/* Font Awesome Icons */
.fa-facebook,
.fa-twitter,
.fa-instagram {
    transition: color 0.3s ease;
}

.fa-facebook:hover {
    color: #1877f2;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-instagram:hover {
    color: #e4405f;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 991px) {
    .ap1 {
        display: none;
        /* Hide the button when the screen width is 768px or less */
    }


    .c-item {
        height: 480px;
    }


    #phone-icon {
        display: block;
    }

    #whatsapp-icon {
        position: fixed;
        bottom: 80px;
        right: 20px;
        z-index: 1000;
        transition: 0.3s ease;
    }

    .caption {
        position: absolute;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        bottom: 12rem;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bolder;
        width: 100%;
    }

    .footer-contact,
    .footer-links {
        font-size: small;
    }
}